extends layout.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/bookshelf_page.css")
  //- add page specific js
  //- script(src="/javascripts/bookshelf_page.js" type="module" defer)

block content
  .bookshelf-header
    h3 My Stories
  .page-content
    .sidebar
      h6 Bookshelves
      div(class='bookshelf-selector') All
      each bookshelf in user.Bookshelves
        div(class='bookshelf-selector' id=bookshelf.id) #{bookshelf.name} (#{0})
    .main-content