extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  case mode
    when '0'
      h1= title
      p Welcome to your Project Skeleton
    when '1'
    when '2'
      if authenticated
        //- This area should be solely for content on the home page
        //- .logo-container
          a(href='/' class="logo-link")
            img(src='/images/logo.png' class="auth-logo")
      else
        .logo-container
          a(href='/' class="logo-link")
            img(src='/images/logo.png' class="auth-logo")
        .header
          img(src='/images/royal.jpg' class="header-image")
          .auth-container
            div.auth-container-title Discover and Read More
            form(action='/users/demo' method='post')
              button(type="submit" class="demo-button") Demo Login
            a(href="/users/signup" class="signup-button") Sign up with email
            div.auth-container-description
              | By creating an account, you agree to 
              b nothing 
              | and are beholden to 
              b no one.
            .login-container
              div.login-description Already a member?
              a(href='/users/login' class="login-text") Sign in
