extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  case mode
    when '0'
      h1= title
      p Welcome to your Project Skeleton
    when '1'
      .logo-container
        a(href='/' class="logo-link")
          img(src='/images/logo.png' class="auth-logo")
    when '2'
      p Getting some features, eh?
