extends layout
include utils.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/auth.css")
  //- add page specific js

block content
  div(class="form-container")
    h1.auth-title Sign in to RoyalReads
    +validationErrorSummary(errors)
    form(action='/users/login' method='post')
      input(type='hidden' name='_csrf' value=token)
      +field('Username', 'username', username, 'me@me.io')
      +field('Password', 'password', null, null, 'password')
      div(class="form-buttons")
        button(type='submit' class="positive-button") Sign in
        button(type='submit' formaction='/users/demo' class="positive-button") Demo
        a(href='/' class="neutral-link") Cancel
    div(class="auth-bottom-nav")
      span Not a member?
      a(href="/users/signup" class="neutral-link") Sign up