extends layout.pug
append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/auth.css")
  //- add page specific js
block content
  h1 This page hadn't been made at this point. Switch to a later view to see it.