extends layout.pug
append head
  //- add page specific styles by appending to the head
  //- link(rel="stylesheet" href="/stylesheets/page_not_made.css")
  //- add page specific js
block content
  .background-container
    .info-container
      .top-section
        .pnf-title This page hadn't been made at this point.
        .pnf-description Which means that it's part of a later iteration of this app. Please choose a later mode to see if it includes this page.
      .mid-section
        .pnf-mode-description As a reminder, you can click the sandwich button the left hand side of the page to reveal the different iterations of this app. If you navigated to this page and switched the mode, you can select a later mode than than the current one to find when this page was incorporated. You can also drag the button up and down to move it out of the way if it overlaps with a feature.