extends layout.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/search.css")
  //- add page specific js
  script(src="/javascripts/search.js" type="module" defer)

block content
  .search-page-container
  form(method='GET' action='/search')
    input(type='text' name='term')
    button(type='submit') Submit Search