extends layout
include utils.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/auth.css")
  //- add page specific js


block content
  +validationErrorSummary(errors)
  form(action='/users/signup' method='post')
    input(type='hidden' name='_csrf' value=token)
    +field('Username', 'username', user.username)
    +field('Email Address', 'email', user.email)
    +field('Password', 'password', user.password, 'password')
    +field('Confirm Password', 'confirmPassword', '', 'password')
    div(class='py-4')
      button(type='submit') Signup
      a(href='/') Cancel