extends layout
include utils.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/auth.css")
  //- add page specific js


block content
  a(href='/' class="logo-container")
    img(src='/images/logo.png' class="auth-logo")
  div(class="form-container")
    h1.auth-title Sign up for RoyalReads
    +validationErrorSummary(errors)
    form(action='/users/signup' method='post')
      input(type='hidden' name='_csrf' value=token)
      +field('Username', 'username', user.username, 'my-username')
      +field('Email Address', 'email', user.email, 'me@me.io')
      +field('Password', 'password', null, null, 'password')
      +field('Confirm Password', 'confirmPassword', null, null, 'password')
      div(class="form-buttons")
        button(type='submit' class="positive-button") Sign Up
        button(type='submit' formaction='/users/demo' class="positive-button") Demo
        a(href='/' class="neutral-link") Cancel
    div(class="auth-bottom-nav")
      span Already a member?
      a(href="/users/login" class="neutral-link") Sign in
      