extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/story_page.css")
  //- add page specific js
  script(src="/javascripts/story_page.js" type="module" defer)

block content
  .page-container
    .story-page-left-side
      .story-sticky-section
        img(src=story.imageUrl class='story-image')
        div.bookshelf-button Placeholder
    .story-page-right-side
      .story-details-container
        .story-title= story.title
        .story-author= story.author
        //- Review section
        .story-description-container
          .story-description.shortened= story.description
          button(class='expand') ...more