body {
  background-color: white;
  color: black;
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
}

.auth-background {
  background-color: #F9F8F4;
}

.stage-button-container {
  position: fixed;
  top: 50%;
  left: -135px;
  transform: translateY(-50%);
  z-index: 5;
}

.stage-button-container.slide-in {
  animation: slide-in-effect 1s ease-in-out forwards;
}

.stage-button-container.slide-out {
  animation: slide-out-effect 1s ease-in-out forwards;
}



@keyframes slide-in-effect {
  0% {
    left: 0;
  }
  100% {
    left: -135px;
  }
}
@keyframes slide-out-effect {
  0% {
    left: -135px;
  }
  100% {
    left: 0;
  }
}

.stage-button-reveal {
  padding: 10px;
  color: white;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
.burger {
  height: 50px;
  width: 50px;
  background-color: black;
  color: white;
  font-size: 20px;
  line-height: 50px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.buttons {
  display: flex;
  top: 100%;
  flex-direction: column;
}

/* .stage-button-container:hover .buttons {
  display: flex;
} */

.switch-stage {
  cursor: pointer;
  color: #333333;
  border-radius: 3px;
  border: 1px solid #D6D0C4;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 14px;
  cursor: pointer;
  background-color: #F4F1EA;
  line-height: 1;
  padding: 8px 12px;
}

.switch-stage:hover {
  background-color: #EDE6D6;
}

/* Navbar stuff */
.navbar, .navbar-lower {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F4F1EA;
  z-index: 2;
  box-shadow: 0 1px 2px rgb(0 0 0 / 15%);
}

.nav-logo {
  margin: 5px 16px 5px 15px;
  height: 40px;
  width: auto;
}

.nav-icon-container {
  display: flex;
  margin-right: 8px;
}

.icon-background {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 53px;
  width: 53px;
  position: relative;
}

.icon-background:hover {
  color: #FFFFFF;
  background-color: #382110;
}

.nav-right-icon {
  background-color: #F9F7F4;
  color: #DBD3BF;
  border: 1px solid #DBD3BF;
  font-size: 24px;
  line-height: 32px;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  cursor: pointer;
}

.user-options {
  position: absolute;
  top: 100%;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  width: 250px;
  padding: 8px 0;
  box-shadow: 0 5px 10px rgb(0 0 0 / 15%);
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  z-index: 10;
}

.hidden {
  display: none;
}

.dropdown-username{
  color: #333333;
  display: block;
  font-size: 14px;
  line-height: 32px;
  padding: 0 16px;
  margin: 12px 0;
  text-transform: uppercase;
  -webkit-text-size-adjust: 100%;
}

.user-menu-option {
  color: #333333;
  display: block;
  font-size: 14px;
  line-height: 32px;
  padding: 0 16px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.user-menu-option:hover {
  text-decoration: underline;
}

.user-menu-bottom-section {
  width: 100%;
  border-top: 1px solid #D8D8D8;
}

.navbar-lower {
  border-top: 2px solid rgb(0 0 0 / 15%);;
  justify-content: center;
  z-index: 1;
}

.navbar-text-link {
  display: inline-block;
  color: #382110;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 50px;
  padding: 0 30px;
  text-decoration: none;
  cursor: pointer;
}

.navbar-text-link:hover {
  color: #FFFFFF;
  background-color: #382110;
}

/* Footer stuff */

.footer-container {
  position: fixed;
  background-color: #F9F8F4;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  padding: 10px 8px;
}

.footer-left{
  display: flex;
  flex-direction: column;
}

.connect-title {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.15;
  margin: 12px 0;
  text-transform: uppercase;
  color: #767676;
  margin-bottom: 8px;
}

.connect-buttons {
  display: flex;
}

.button-container {
  cursor: pointer;
  background: #A2A19F;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-right: 8px;
}

.o-link-button {
  font-size: 20px;
  color: #F9F8F4;
}

.footer-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-info {
  font-size: 14px;
  color: #181818;
  text-align: center;
}

.mode-container { display: none; }

.modal-background {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  z-index: 10;
}

.modal-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  border-radius: 8px;
  min-width: 280px;
  max-width: 410px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 24px 0;
  z-index: 11;
  animation: zoom-in 0.3s ease-in-out;
}

.modal-container.zoom-out {
  animation: zoom-out 0.3s ease-in-out forwards;
}

@keyframes zoom-in {
  from {
    top: 100vh;
  }
  to {
    top: 50%;
  }
}
@keyframes zoom-out {
  from {
    top: 50%;
  }
  to {
    top: -100%;
  }
}

/* Search Styling */

.search-form {
  background: #FFFFFF;
  border-radius: 3px;
  border: #DCD6CC 1px solid;
  color: #333333;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  display: flex;
  height: 32px;
  width: 70%;
}

.search-input, .search-submit {
  border: none;
  background-color: transparent;
}

.search-input {
  flex: 1;
  padding: 4px 8px;
}

.search-submit {
  cursor: pointer;
  color: #999;
  font-size: 16px;
}