.background-container {
  /* background image */
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-container {
  display: flex;
  flex-direction: column;
}