.background-container {
  background-image: url('/images/construction.jpg');
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.four-oh-four {
  background-image: url('/images/lost.jpg');
  height: 80vh;
}

.info-container {
  /* height: 50%; */
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 16px 14px;
  border-radius: 5px;
  border: 2px solid #787674;
}

.info-container.modal-version {
  width: 100%;
  border: 0;
}

.top-section {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #787674;
}

.pnf-title {
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.top-section, .mid-section {
  text-align: justify;
}
