.search-page-parent-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.search-page-container {
  display: flex;
  flex-direction: column;
  width: 625px;
  margin-top: 20px;
  margin-bottom: 90px;
  margin-left: 10px;
}

.search-page-title {
  color: #382110;
  font-size: 20px;
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
  font-weight: bold;
  margin-bottom: 15px;
  line-height: 24px;
}

.search-page-form {
  display: flex;
  flex-direction: column;
  background-color: #EEE;
  padding: 10px 5px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.search-form-top-bar {
  color: #333333;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  display: flex;
  height: 32px;
  width: 100%;
}

.search-page-input, .search-page-submit {
  border: none;
  background-color: transparent;
}

.search-page-input {
  flex: 1;
  padding: 4px 8px;
  background: #FFFFFF;
  border-radius: 3px;
  border: #DCD6CC 1px solid;
  color: #333333;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  resize: none;
}

.search-page-submit {
  border-radius: 3px;
  border: 1px solid #D6D0C4;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 14px;
  -moz-appearance: none;
  -o-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: #333333;
  background-color: #F4F1EA;
  line-height: 1;
  padding: 8px 12px;
  margin-left: 5px;
}

.search-page-options {
  display: flex;
  margin-top: 10px;
}

.radio-container {
  font-size: 12px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 18px;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.search-page-story-section {
  display: flex;
  flex-direction: column;
}

.story-container {
  display: flex;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  padding: 5px 0px 5px 10px;
}

.search-story-image {
  width: 50px;
  height: 75px;
  object-fit: cover;
  cursor: pointer;
  margin: 0 10px;
}

.story-right {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.search-page-story-title {
  color: #333333;
  font-family: "Merriweather", "Georgia", serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.3;
  cursor: pointer;
  text-decoration: none;
}

.search-page-story-title:hover {
  text-decoration: underline;
}

.search-page-story-author {
  font-size: 12px;
  line-height: 150%;
  color: #333;
  font-family: "Merriweather", "Georgia", serif;
}

.search-page-review-info-section {
  display: flex;
  color: #999999;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 11px;
  line-height: 14px;
}

/* Rating section */

.ratings-container {
  display: flex;
  margin-right: 5px;
}

.fas.fa-star {
  color: red;
}
.far.fa-star {
  color: #D6D6D6;
}

/* Bookshelf Selector Styling */

.feed-bookshelf-selector-container {
	display: flex;
	border-radius: 3px;
	display: inline-block;
	margin: 4px 4px 8px 0;
	padding: 0px;
	max-width: 180px;
	vertical-align: middle;
	font-size: 14px;
	font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
}

.feed-bookshelf-wtr-button, .feed-bookshelf-selected {
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	float: left;
	height: 30px;
	max-width: 110px;
	line-height: 1.15;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	box-sizing: content-box;
	padding-left: 8px;
	padding-right: 8px;
	display: flex;
	align-items: center;
}

.feed-bookshelf-wtr-button {
	background: #409D69;
	color: #FFFFFF;
	cursor: pointer;
}

.feed-bookshelf-selected{
	background: #F2F2F2;
	color: #000000;
}

.feed-bookshelf-selected-name {
	display: inline-block;
	max-width: 90px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.feed-modal-container {
	position: relative;
	display: inline-block;
	width: 30px;
}

.feed-modal-button {
	cursor: pointer;
	height: 30px;
	line-height: 20px;
	color: white;
	background-color: #409D69;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
	border-left: 1px solid #38883d;
	/* float: left; */
	padding: 6px 8px;
}

.feed-modal {
	display: none;
	background: #FFFFFF;
	border: 1px #767676 solid;
	font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
	max-width: 220px;
	min-width: 140px;
	position: absolute;
	right: 0px;
	top: 30px;
	z-index: 5;
}

.feed-modal-container:hover .feed-modal {
	display: block;
}

.standard-shelf {
	cursor: pointer;
	font-size: 12px;
	font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
	list-style-type: none;
	text-align: left;
	white-space: nowrap;
	padding: 2px 16px 2px 8px;
}

.standard-shelf.bold-shelf {
	font-weight: bold;
}

.nonstandard-shelf-container {
	display: flex;
}

.standard-shelf:hover, .nonstandard-shelf-container:hover {
	background-color: #D8D8D8;
}


.feed-modal-button:hover, .feed-bookshelf-wtr-button:hover {
	background-color: #3d9363;
}

.feed-check {
	color: green;
	line-height: 20px;
	margin-right: 5px;
}

.nonstandard-shelf-container {
	cursor: pointer;
}

.no-ratings {
  margin-right: 5px;
}