@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

.story-id-container { display: none; }

.page-container {
  padding-top: 30px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-gap: 32px;
  margin-bottom: 40px;
  font: 400 1.6rem/1.4375 "Proxima Nova",Montserrat,Arial,sans-serif;
}

.story-page-left-side {
  grid-column: span 4;
}

.story-image {
  height: 336px;
  width: 224px;
  object-fit: cover;
  border-radius: 0 6% 6% 0/4%;
  display: block;
  margin: 0 auto 12px;
  background-size: cover;
  outline: 0;
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 20%);
}

.bookshelf-button-container {
  width: 100%;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3F8363;
  color: white;
  font-size: 16px;
  height: 40px;
  cursor: pointer;
}

.bookshelf-button-container .fa-check {
  margin-right: 4px;
  /* font-weight: 400; */
}

.bookshelf-button-container .fa-chevron-down {
  border-left: 1px solid #377458;
  padding: 12px;
  padding-right: 15px;
}

.bookshelf-button-container .fa-chevron-down:hover {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #409970;
}

.bookshelf-button-container.added {
  color: black;
  background-color: white;
  border: 2px solid black;
  justify-content: center;
}

.bookshelf-button-container.added:hover {
  background-color: rgba(0,0,0,0.05);
}

.bookshelf-button {
  width: 90%;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.bookshelf-button:hover {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: #409970;
}

.story-page-right-side {
  grid-column: 5 / 12;
  margin-bottom: 90px;
}

.story-title {
  font-size: 32px;
  line-height: 42px;
  font-family: 'Libre Baskerville', serif;
  font-weight: 600;
}

.story-author {
  font-size: 18px;
  line-height: 24px;
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  color: #1E1915;
  margin-bottom: 16px;
}

.story-description-container {
  position: relative;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.story-description {
  line-height: 1.37;
  font: 400 16px "Proxima Nova",Montserrat,Arial,sans-serif;
  color: #1E1915;
}

.story-description.shortened {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  word-break: break-word;
}

.expand {
  position: absolute;
  background: transparent;
  border: transparent;
  bottom: 0;
  right: 0;
  font-size: 16px;
  font-weight: bold;
  /* z-index: 10; */
  cursor: pointer;
}

.story-tags-section {
  display: inline-block;
}
.story-tags-section {
  margin-top: 10px;
  overflow-x:auto;
}
.story-tags-inner-section{
  /* display: flex; */
}

.tag-element, .tag-toggle {
  background-color: #3F8363;
  color: #FFF;
  height: 36px;
  font-size: 14px;
  line-height: 36px;
  padding: 0px 12px;
  cursor: pointer;
  border-radius: 30px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  margin-right: 8px;
  user-select: none;
  word-break:keep-all;
}

.tag-element:hover, .tag-toggle:hover {
  background-color: #409970;
}

.story-warnings-section {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  border-bottom: 1px solid #ddd;
}
.warnings-none {
  color: #777;
  margin-bottom: 15px;
}

.warnings-toggle {
  cursor: pointer;
  margin-bottom: 15px;
}
.warnings-toggle:hover {
  color: #333;
}

.story-warnings-container {
  display: flex;
  padding-bottom: 10px;
}

.story-warning {
  background-color: red;
  color: #FFF;
  height: 36px;
  font-size: 14px;
  line-height: 36px;
  padding: 0px 12px;
  cursor: pointer;
  border-radius: 30px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  margin-right: 8px;
  user-select: none;
}

.story-other-details-section {
  padding: 10px 0;
  font-size: 12px;
  color: #333;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ddd;
}

.other-details-status {
  display: flex;
}

.status-green, .status-red {
  margin-left: 3px;
}

.status-green {
  color: green;
}

.status-red {
  color: red;
}

.other-details-link > a {
  text-decoration: none;
}
.other-details-link > a:hover {
  text-decoration: underline;
  color: #777;
}

/* Modal stuff */
.modal-title-container {
  display: flex;
  justify-content: space-between;
  padding: 0 12px 16px 24px;
}

.modal-title {
  font-size: 16px;
  line-height: 30px;
  font-family: 'Libre Baskerville', serif;
}

.close-button-container {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 10px;
}

.close-modal {
  /* line-height: 22px; */
  background-color: transparent;
}

.close-button-container:hover {
  background-color: rgba(0,0,0,0.05);
  cursor: pointer;
}

.modal-bookshelf-button {
  background-color: transparent;
  margin: 0 24px 12px 24px;
  text-align: center;
  vertical-align: middle;
  height: 40px;
  padding: 0 16px;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 30px;
}

.modal-bookshelf-button > .fa-check {
  margin-right: 4px;
}

.modal-bookshelf-button:hover, .modal-bookshelf-button.selected {
  background-color: rgba(0,0,0,0.05);
}
.modal-bottom-button-container {
  padding: 24px 24px 0px;
  display: flex;
  justify-content: center;
  border-width: 1px;
  border-style: solid;
  border-image: 
  linear-gradient(
      to right, 
      rgba(0, 0, 0, 0),
      black, 
      rgba(0, 0, 0, 0)
    ) 10 0%;
    border-bottom: none;
}

.modal-description {
  padding: 0 24px;
  font-size: 14px;
  font-weight: normal;
  font-family: 'Libre Baskerville', serif;
  margin-bottom: 16px;
}

.modal-shelf-container {
  padding: 0 24px;
  margin-bottom: 16px;
}

.modal-custom-shelf {
  height: 36px;
  font-size: 14px;
  line-height: 36px;
  padding: 0px 12px;
  cursor: pointer;
  background-color: #EBF0E5;
  color: #1E1915;
  border-radius: 30px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  margin-right: 8px;
  user-select: none;
}

.modal-custom-shelf.selected {
  background-color: #3F8363;
  color: #FFF;
}

.modal-cancel {
  height: 36px;
  width: 40%;
  font-size: 14px;
  padding: 0px 12px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  margin-right: 16px;
}

.modal-cancel:hover {
  background-color: rgba(0,0,0,0.05);
  color: #4F4F4D;

}

.modal-submit {
  height: 36px;
  width: 40%;
  font-size: 14px;
  padding: 0px 12px;
  border: none;
  border-radius: 30px;
  background-color: #1E1915;
  color: #FFF;
  cursor: pointer;
}

.modal-submit:hover {
  background-color: #4F4F4D;
}

/* Review styling */

.ratings-container {
  display: flex;
}

.fas.fa-star {
  color: red;
}
.far.fa-star {
  color: #D6D6D6;
}
.fa-star.user-rating {
  color: #F6A623;
  cursor: pointer;
}



.other-reviews-section {
  display: flex;
  flex-direction: column;
}

.other-reviews-title-section, .other-reviews-general-info-section {
  display: flex;
}

.new-review-prompt {
  margin: 8px 0;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.logged-in-user-rating-section {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}

.reveal-form, .reveal-form-edit {
  color: #333333;
  border-radius: 3px;
  border: 1px solid #D6D0C4;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 14px;
  cursor: pointer;
  background-color: #F4F1EA;
  line-height: 1;
  padding: 8px 12px;
  margin-left: 20px;
}

.reveal-form-edit {
  margin-left: 0;
  margin-bottom: 5px;
}

.reveal-form:hover, .reveal-form-edit:hover {
  background-color: #EDE6D6;
}

.logged-in-user-review-content-section {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ddd;
}

.new-review-content-input {
  margin-top: 5px;
  resize: vertical;
  height: 50px;
  width: 80%;
}
.new-review-content-input:focus {
  outline: none;
}

.cancel-review-content-button, .submit-review-content-button {
  color: #333333;
  border-radius: 3px;
  border: 1px solid #D6D0C4;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 14px;
  cursor: pointer;
  background-color: #F4F1EA;
  line-height: 1;
  padding: 8px 12px;
  margin-bottom: 5px;
}

.cancel-review-content-button:hover, .submit-review-content-button:hover {
  background-color: #EDE6D6;
}

.user-review-form-button-section {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.user-review-content {
  margin: 5px 0;
  line-height: 1.37;
  font: 400 16px "Proxima Nova",Montserrat,Arial,sans-serif;
  color: #1E1915;
}

.other-reviews-title-section {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.other-reviews-title {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 2px 0;
  height: 24px;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}

.other-reviews-numbers {
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 11px;
  line-height: 14px;
  color: #181818;
}


.other-reviews-general-info-section{
  display: flex;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.avg-star-section {
  font-size: 15px;
}

.no-ratings {
  font-size: 14px;
  line-height: 18px;
}

.dot, .num-review-parts {
  color: #999;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin-left: 3px;
}

.other-reviews-social-container {
  display: flex;
  flex-direction: column;
}

.review-container {
  margin-bottom: 10px;
}

.review-header {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.review-header-left {
  display: flex;
  font-size: 14px;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  margin-bottom: 10px;
  line-height: 14px;
  vertical-align: middle;
}

.review-header-left > .ratings-container {
  margin-left: 3px;
}

.user-bookshelves-link {
  text-decoration: none;
}

.review-username {
  font-weight: bold;
  margin-right: 3px;
}

.review-username:hover {
  text-decoration: underline;
}

.review-date {
  color: #BBB;
  font-size: 14px;
  line-height: 18px;
  vertical-align: middle;
}

.review-content-container {
  font-family: "Merriweather", "Georgia", serif;
  line-height: 21px;
  font-size: 16px;
}

/* Important styling */

.hidden { display: none; }