.main-content {
  display: flex;
  margin-top: 20px;
  margin-bottom: 90px;
  margin-left: 10px;
}

.main-content-left {
  width: 500px;
  margin-right: 20px;
  /* padding-left: 8px; */
  margin-left: auto;
}

.left-story-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.story-browse-title {
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
  color: #382110;
  padding: 0px 0px 2px 0px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  line-height: 24px;
  border-bottom: 1px solid #D8D8D8;
}

h2.story-browse-title {
  margin-top: 20px;
  height: 24px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}

.story-browse-image {
  width: 80px;
  height: 120px;
  object-fit: cover;
  margin-right: 10px;
  cursor: pointer;
}

.main-content-right {
  width: 300px;
  padding-right: 8px;
  margin-right: auto;
}

.right-story-container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.story-browse-image.smaller-image {
  height: 114px;
  margin-right: 3px;
}

/* Tag stuff */
.tag-section-reveal-container {
  display: flex;
  justify-content: center;
}
.tag-section-reveal {
  cursor: pointer;
  color: #333333;
  border-radius: 3px;
  border: 1px solid #D6D0C4;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 14px;
  background-color: #F4F1EA;
  line-height: 1;
  padding: 8px 12px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.tag-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-size: 12px;
  margin-bottom: 10px;
}

.tag-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}


/* Pseudo Important */
.hidden { display: none; }