@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

.page-container {
  padding-top: 30px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-gap: 32px;
  margin-bottom: 40px;
  font: 400 1.6rem/1.4375 "Proxima Nova",Montserrat,Arial,sans-serif;
}

.story-page-left-side {
  grid-column: span 4;
}

.story-image {
  height: 336px;
  width: 224px;
  object-fit: cover;
  border-radius: 0 6% 6% 0/4%;
  display: block;
  margin: 0 auto 12px;
  background-size: cover;
  outline: 0;
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 20%);
}

.bookshelf-button-container {
  width: 100%;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3F8363;
  color: white;
  font-size: 16px;
  height: 40px;
  cursor: pointer;
}

.bookshelf-button-container .fa-check {
  margin-right: 4px;
  /* font-weight: 400; */
}

.bookshelf-button-container .fa-chevron-down {
  border-left: 1px solid #377458;
  padding: 12px;
  padding-right: 15px;
}

.bookshelf-button-container .fa-chevron-down:hover {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #409970;
}

.bookshelf-button-container.added {
  color: black;
  background-color: white;
  border: 2px solid black;
  justify-content: center;
}

.bookshelf-button-container.added:hover {
  background-color: rgba(0,0,0,0.05);
}

.bookshelf-button {
  width: 90%;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.bookshelf-button:hover {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: #409970;
}

.story-page-right-side {
  grid-column: 5 / 12;
}

.story-title {
  font-size: 32px;
  line-height: 42px;
  font-family: 'Libre Baskerville', serif;
  font-weight: 600;
}

.story-author {
  font-size: 18px;
  line-height: 24px;
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  color: #1E1915;
  margin-bottom: 16px;
}

.story-description-container {
  position: relative;
}

.story-description {
  line-height: 1.37;
  font: 400 16px "Proxima Nova",Montserrat,Arial,sans-serif;
  color: #1E1915;
}

.story-description.shortened {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  word-break: break-word;
}

.expand {
  position: absolute;
  background: transparent;
  border: transparent;
  bottom: -16px;
  right: 0;
  font-size: 16px;
  font-weight: bold;
  z-index: 10;
  cursor: pointer;
}





/* Important styling */

.hidden { display: none; }